{% extends 'base.html.twig' %}

{% block title %}Schwarzes Brett{% endblock %}

{% block body %}
    <h1>Neuen Feed anlegen</h1>

    {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}


{% endblock %}