{% extends 'base.html.twig' %}

{% block title %}Einträge{% endblock %}

{% block body %}
    <h1>Einträge</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="#">Delete</a>
    {% endif %}


{% endblock %}