{% extends 'base.html.twig' %}

{% block title %}Statistik{% endblock %}


{% block body %}

    <link rel="stylesheet" href= "{{ asset('assets/css/statistics.css') }}">

    <h1>Statistiken</h1>

    <h2>Dies hier sind noch Placeholder!</h2><br><br>

    <!--
https://dribbble.com/shots/2227352-Day-067-Smart-Home-UI/attachments/414148
-->

    <!-- https://codepen.io/anthonykoch/pen/GpQYrJ -->

        <div class="statistics">
            <div class="consumption-panel">
                <div class="flex flex--justify-between">
                    <p>
                        Ausfahrten Insgesamt:
                    </p>
                </div>
                <h1 class="consumption">120 Einsätze!</h1>
                <svg id="visualisation" width="600" height="100"></svg>

                <p class="title">Einsatzarten</p>
                <div class="bar-chart">

                    <div class="progress progress--vertical">
                        <p class="progress__caption">---</p>
                        <div class="progress__fill" style="height: 87%"></div>
                    </div>

                    <div class="progress progress--vertical">
                        <div class="progress__fill" style="height: 50%"></div>
                        <p class="progress__caption">---</p>
                    </div>

                    <div class="progress progress--vertical">
                        <div class="progress__fill" style="height: 64%"></div>
                        <p class="progress__caption">---</p>
                    </div>

                    <div class="progress progress--vertical">
                        <div class="progress__fill" style="height: 78%"></div>
                        <p class="progress__caption">---</p>
                    </div>

                </div>
            </div>

            <div class="flex-1">
                <ul class="einsatz__list">
                    <li class="einsatz__item  einsatz__total">
                        <h2 class="einsatz__count">20</h2>
                        <p class="einsatz__description">Einsätze 2017</p>
                    </li>

                    <li class="einsatz__item  einsatz__active">
                        <h2 class="einsatz__count">4</h2>
                        <p class="einsatz__description">Einsätze 2018</p>
                    </li>
                </ul>
            </div>
            <!-- /.right-column -->
        </div>
        <!-- /.statistics -->


{% endblock %}