{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <style>
        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }

    </style>

    <h1>Homepage</h1>

    <button class="bigredbutton"><a href="{{ path('newentry') }}">Eintrag hinzufügen</a></button>

{% endblock %}
