#accordion {
    width: 100%;
}

#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0;
}
#accordion a {
    color: #000;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid var(--red);
    text-decoration: none;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
    background-color: var(--red);
    color: white;
    fill: white;
    transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
    color: white;
}
#accordion .panel-heading {
    padding: 0;
    border-radius: 0;
}
#accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: var(--red);
    transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle svg {
    transform: rotate(90deg);
    transition: all 0.2s ease-in;
}

#accordion .panel-heading .accordion-toggle.collapsed svg {
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

#accordion .panel-body .panel-content {
    padding: 20px;
}

#accordion .panel-body .panel-content ul li {
    list-style: none;
    padding-bottom: 5px;
}

#accordion .panel-body .panel-content ul li a {
    border-bottom: none;
}

#accordion .panel-body .panel-content ul li a span {
    position: relative;
    padding-bottom: 5px;
}

#accordion .panel-body .panel-content ul li a span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid var(--red);
    transition: 0.4s;
}

#accordion .panel-body .panel-content ul li a span:hover:after {
    width: 100%;
}

.form-group .col-form-label {
    font-weight: bold;
}

.form-group .btn {
    color: #fff;
    background-color: var(--grey);
}