/* Importieren der Schrift die standardmäßig genutzt werden soll */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin:0;
    padding:0;
}

/* Color Constants */
:root {
    --grey: #505050;
    --red: rgb(141, 4, 3);
}

/* Start eigenes CSS */
/* -------------------------------------------*/
/* ALLGEMEINES */
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 50px;
}

#content {
    width: 100%;
}

#content .container {
    margin: 2vh 4vw;
}

h1 {
    margin-bottom: 50px;
    padding-top: 1em;
    font-size: 14pt;
    font-weight: bold;
}


/* NAVIGATION */
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.50);
}

.nav-item .nav-link {
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-item.active .nav-link {

}

.nav-link:hover {
    transition: 0.3s ease-in-out;
}

.logout {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 2rem;
}

.logout a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

/* MQ SPECIFIC*/
#sidebar {
    display: none;
}

#mobileNav {
    display: block;
}

#mobileBar {
    height: 80px;
}

#mobileNav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

#mobileNav .nav-item {
    padding: 0 0 0.5em 2em;

}

#mobileNav .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.50);
}

#mobileNav .navbar-brand img {
    display: inline-block;
    width: 50px;
    height: auto;
}

#mobileNav .navbar-toggler {
    fill: #000;
    background-color: var(--red);
    border-radius: 0;
}

#mobileNav .navbar-brand {
    color: #fff;
}

#mobileNav i {
    padding: 0 0.5rem;
}

.my-toggler-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 6px 0;
    transition: 0.4s;
}

#username {
    font-size: 14pt;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 992px) {

    /* ALLGEMEINES */
    h1 {
        font-size: 18pt;
    }

    body {
        font-size: 10pt;
    }

    /* MQ SPECIFIC*/
    #mobileNav {
        display: none !important;
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        display: block !important;
        background-color: var(--grey);
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        box-shadow: 0 5px 60px -5px #2e2e2e;
        transition: 0.3s ease-in-out;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

    #sidebar.active, #sidebar.active #username, #sidebar.active span {
        display: none;
    }

    #sidebar i {
        padding-right: 0.5rem;
    }

    #sidebar.active i {
        padding-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active .nav-link {
        padding: 0 0;
    }

    #sidebar .sidebar-header {
        width: 100%;
        padding: 1rem 0 2rem 0;

    }

    #sidebar #profile_pic {
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 100px;
    }

    #sidebar #username {
        margin-top: 1rem;
        text-align: center;
    }

    #sidebar.active #profile_pic {
        min-width: 60px;
        max-width: 60px;
        height: auto;
    }

    #sidebar .nav-item {
        padding: 0.3rem 1rem;
        transition: 0.3s ease-in-out;
    }

    #sidebar .nav-item:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
    }

    #sidebar .nav-item .nav-link {
        display: inline-block;
    }

    /* COLLAPSE TOGGLE BUTTON */
    .menu-toggler {
        padding: 0;
    }

    #sidebarCollapse {
        background-color: var(--red);
        border-radius: 0;
        width: 100%;
    }

    #sidebarCollapse #arrow {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    #sidebarCollapse #arrow.active {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }

    #close-menu img {
        transform: scaleX(-1);
    }

}


/** Button CSS */

.bigredbutton {
    background-color: var(--red);
    color: #FFF;
    width: 20vw;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.bigredbutton:hover {
    background: #c10612;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    /*  box-shadow: 0px 4px 35px -5px #c10612;  */
}

@media (min-width: 501px) {
    .bigredbutton {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .bigredbutton {
        font-size: 8px;
    }

}