@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin:0;
    padding:0;
}

/* Color Constants */
:root {
    --grey: #505050;
    --red: rgb(141, 4, 3);
}

/* Die Color Konstanten können folgendermaßen genutzt werden - Beispiel:
background: var(--grey); */

/* Start Login CSS */

body{
    background: var(--grey);
}

/* Aussehen des eigentlichen Forms */
#form-id{
    width:70%;
    margin:50px auto;
    text-align:center;
    position: relative;
}

#form-id fieldset{
    background:#fff;
    border:0 none;
    border-radius:3px;
    box-sizing:border-box;
    padding:20px 30px;
    width:80%;
    margin:0 10%;
    position: relative;
}
#form-id fieldset:not(:first-of-type){
    display:none;
}

#form-id input, .home-button, #form-id button, .colorButton{
    border:1px solid #ccc;
    border-radius:3px;
    padding:15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:15px;
    font-size:13px;
    box-sizing:border-box;
    width:100%;
    text-decoration:none;
}

#form-id textarea {
    border:1px solid #ccc;
    border-radius:3px;
    padding:15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:15px;
    font-size:13px;
    box-sizing:border-box;
    width:100%;
}

#form-id select {
    border:1px solid #ccc;
    border-radius:3px;
    padding:15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:15px;
    font-size:13px;
    box-sizing:border-box;
    width:100%;
}

/*
.links {
    width: 50%;
    float: left;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

.rechts {
    width: 50%;
    float: right;
}*/

#form-id .custom-button{
    width:100px;
    background: var(--red);
    font-weight: bold;
    color:#fff;
    border:0;
    padding:10px;
    margin:10px;
}

#form-id .custom-button:hover{
    box-shadow:0 0 0 2px #fff, 0 0 0 4px var(--red)
}

.title{
    font-size:15px;
    margin-bottom:10px;
    color:var(--red);
    text-transform:uppercase;
}
.sub-title{
    font-size:13px;
    margin-bottom:20px;
    font-weight:normal;
    color:#666;
}
/*Progressbar*/
.progressbar {
    margin-bottom: 40px;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
.progressbar li {
    margin-bottom: 20px;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index:-1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
    background: var(--red);
    color: white;
}

/* Checkbox CSS */

/* Kommt hier noch */

/* Focus Colors */

input:focus {
    outline: none !important;
    border-color: #8d0403;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

select:focus {
    outline: none !important;
    border-color: #8d0403;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

textarea:focus {
    outline: none !important;
    border-color: #8d0403;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

fieldset:focus {
    outline: none !important;
    border-color: #8d0403;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


.legends{
    font-size: 1rem;
    color: var(--red);
    margin-top: 10px;
    font-weight: 600;
}

#brandeinsatz, #technischerEinsatz, #brandsicherheitswache{
    padding:5px;
    background-color: #f1f1f1;
}

div#ort, div#geschädigter{
    border: 1px solid #e3e3e3;
    padding:5px;
}

#form-id div > label:nth-child(1), #form-id fieldset div.einsatz>label.required, div.allgemein div.links label.required,
form#form-id fieldset div#allgemein label.required{
    font-weight: bold;

    font-variant-caps: all-small-caps;

    font-size: 1.2em;
    color:var(--red);
}

.colorButton, .colorButton:hover, .colorButton:active{
    color:white;
    text-decoration:none;
}

.left{
    float:left;
}

#form-id fieldset div.einsatz > label.required{
    width:100%;

}

div.checkboxFormat>label{
    font-weight:lighter!important;
    font-size:0.8em !important;

}
div.checkboxFormat>label>input{
   margin-bottom:0!important;
}

.errors{
    background: #8d0403;

}


/*Toggled Sidebar in New-Entry*/

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-right: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;                       /* SZEROKOŚĆ SIDEBARA */
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;                /* KOLOR SIDEBARA */
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 300px;
    right: 0;/* SZEROKOŚĆ ZAWARTOŚCI SIDEBARA */
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav .dropdown-menu {
    background-color: grey;             /* KOLOR BG DROPDOWNA */
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.active a,
.sidebar-nav li.active a:hover,
.sidebar-nav li.active a:active,
.sidebar-nav li.active a:focus {
    background-color: transparent;
    color: red;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}


.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-right: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    right: 0;
    z-index: 999;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.open-nav:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.open-nav:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.open-nav:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.open-nav:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.open-nav .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}

.hamburger.open-nav .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}

.hamburger.open-nav .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}

.hamburger.open-nav .hamb-top,
.hamburger.open-nav .hamb-middle,
.hamburger.open-nav .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}



/* FOR left side */
.navbar-fixed-top {
    left: auto;
}


