@-webkit-keyframes bars {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes bars {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

.statistics {
    background-color: white;
    box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
    width: 100%;
    color: #8c939e;
}

.consumption-panel {
    width: 53%;
    padding: 50px;
}

.consumption {
    color: #42474e;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
}

#visualisation {
    border-bottom: 1px solid #d8d8d8;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    width: 100%;
}

.bar-chart {
    display: flex;
    justify-content: space-between;
}

.progress {
    align-items: flex-end;
    background-color: #E5E5E5;
    display: flex;
    height: 150px;
    position: relative;
    width: 35px;
}

.progress__fill {
    background-color: var(--red);
    position: relative;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 100%;
    -webkit-animation: bars 1.5s ease-in-out forwards;
    animation: bars 1.5s ease-in-out forwards;
}

.progress__caption {
    bottom: -40px;
    font-size: 0.75rem;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.einsatz__list {
    display: flex;
    text-align: center;
}

.einsatz__item {
    padding: 80px 0;
}

.einsatz__count {
    color: rgba(255, 255, 255, 0.9);
    font-size: 4rem;
    margin-bottom: 20px;
    line-height: 1;
}

.einsatz__description {
    color: rgba(255, 255, 255, 0.6);
}

.einsatz__total {
    background-color: var(--red);
    flex: 1;
}

.einsatz__active {
    background-color: var(--red);
    flex: 1;
}

.title {
    margin-bottom: 20px;
}


.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex--justify-between {
    justify-content: space-between;
}


.numbers{
    text-align:center;
    padding-right:20px;
    padding-left:20px;

}